#footer {
    width: 100%; border-top: 1px solid #ddd;

    .inner {
        width: 1180px; height: 80px;
        margin: 0px auto; 
        display: flex; justify-content: space-between;
        align-content: center; flex-wrap: wrap;

        h1 {
            font: bold 20px/1 "arial"; color: #999;
        }
        p {
            font: 14px/1 "arial"; color: #999; letter-spacing: 2px;
        }
    }
}

@media screen and (max-width: $tablet){

}
@media screen and (max-width: $mobile){
    
}